body {
    background-color:rgb(202, 227, 150);
}
.cl1{
    color:rgb(199, 73, 199);
}
.recipe{
    background-color:rgb(232, 214, 232);
}
/*.list{*/
/*    background-color:rgb(174, 196, 86);*/
/*}*/
#veggi_garlic{
    background:rgb(122, 75, 163);
}
#chicken_bake{
    background:rgb(122, 75, 163);
}
#butter_chicken{
    background:rgb(122, 75, 163);
}