.about{
  display: flex;
  flex-direction: column;
}

.images{
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

.images img{
  margin-right: 40px;
  box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
}

.TEXT{
  font-size: 25px;
  text-align: center;
}

.TEXT li{
  list-style-type: none;
}