<div class="about">
  <div class="images">
    <img src="https://i.pinimg.com/564x/01/c4/15/01c4158c5b82cac63e497a2d4c8d498d.jpg" width="280" height="200">
    <img src="https://i.pinimg.com/564x/01/c4/15/01c4158c5b82cac63e497a2d4c8d498d.jpg" width="280" height="200">
    <img src="https://i.pinimg.com/564x/01/c4/15/01c4158c5b82cac63e497a2d4c8d498d.jpg" width="280" height="200">
    <img src="https://i.pinimg.com/564x/01/c4/15/01c4158c5b82cac63e497a2d4c8d498d.jpg" width="280" height="200">
  </div>
  <div class="TEXT">
    <h1>About Us</h1>
    <p>This is the world of photography</p>
    <h1>More</h1>
    <p>
      World Photography Organisation is a leading global platform dedicated to the development and advancement of photographic culture. Its programming and competition initiatives provide valuable opportunities for artists working in photography and help broaden the conversation around their work
    </p>
  </div>
</div>
