<div class="about">
  <div class="images">
    <img src="assets/1.jpeg" width="280" height="200">
    <img src="assets/2.jpeg" width="280" height="200">
    <img src="assets/3.jpeg" width="280" height="200">
    <img src="assets/4.jpeg" width="280" height="200">
  </div>
  <div class="TEXT">
    <ul>
      <li>Жизнь – нелегкое занятие, а труднее всего первые сто лет – Уилсон Мизнер</li>
      <li>Жизнь – это больница, где каждый пациент мечтает перебраться на другую кровать – Шарль Бодлер</li>
      <li>Самые лучшие в мире вещи невозможно увидеть или потрогать руками. Их можно только почувствовать – Хелен Келлер</li>
      <li>Жизнь – это череда маленьких шагов – Хота Котб</li>
      <li>Научись любить себя и все остальное станет на свои места – Люсиль Бол</li>
      <li>Не стоит тратить на это даже пяти минут, если ты не готов потратить на это 5 лет – Меган Маркл/li>
      <li>Что дается легко не будет длиться долго. А то, что длиться долго не дается легко – Неизвестный автор</li>
      <li>Тот, кто не верит в чудеса, никогда его и не получит – Роальд Даль</li>
      <li>Жизнь – это путешествие, а не дом – Феликс Фельдхайм</li>
    </ul>
  </div>
</div>
