<div class="detail">
  <img class="imageBack" src="assets/arrow.png" (click)="goBack()">
  <div class="box" *ngIf="isEdit===false">
    <p class="title" (click)="goToPhotos(album.id)">
      Title: {{album.title}}
    </p>

    <button class="button" (click)="edit()">
      Edit
    </button>
  </div>
  <div class="container_change" *ngIf="isEdit===true">
    <input class="boxes" [(ngModel)]="editableText" type="text">
    <button class="container_change_but2" (click)="save()">
      Save
    </button>
  </div>
  <img src="assets/album.jpeg">
</div>
